.card {
	margin: 0;
}
.card__image {
	object-fit: cover;
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	border-radius: 10px;
}
.card__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 12px;
}
.card__title {
	width: 90%;
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 120%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.card__like-button {
	height: 20px;
	width: 23px;
	opacity: 40%;
	background: center / contain no-repeat rgb(0, 0, 0, 0) url(/images/Union.png);
	border: 0;
}

.card__like-icon:hover {
	opacity: 100%;
	cursor: pointer;
}

@media screen and (max-width: 630px) {
	.card__title {
		font-size: 16px;
	}
}
