.page {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
	background-color: #fcf5e5;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.88em;
	color: #212121;
}
